<div id="card_target">
	<%= "We grew our paying membership by #{model.growth}% p.a. over #{model.periods} #{model.period_desc}s" %><br/>
	<%= "#{model.get_cards_in} applications brought in per #{model.period_desc}. " %>
	<%= "#{model.get_cards_in_target} needed to hold our ground. " %>
	<%= "#{model.get_cards_in_growth_target} needed to grow 10% p.a." %>
	<% if transfers %> 
		<br/>WARNING: These results are influenced by transfers.  See the transfer tab.
	<% end %>
</div>
        
<div id="card_target_tip" class="tooltip">
	The formulas to hold our ground and grow are calculated as follows:
	<%= model.getmath_get_cards_in_target.gsub('cards', 'applications').gsub('CARDS', 'APPLICATIONS') %> 
</div>

<script type="text/javascript">
	$("#card_target").tooltip({
		tip: '#card_target_tip',
		position: 'top center',
		delay: 0,
		relative: false
	});
</script>