<h1>Summary</h1>

<section>
  <form action="/summary">
    <ul>
      <li>
        <label>Start Date</label>
        <input type="text" name="startDate" value="<%= @defaults['startDate'] %>">
      </li>
      <li>
        <label>End Date</label>
        <input type="text" name="endDate" value="<%= @defaults['endDate'] %>">
      </li>
      <li>
        <label>group by</label>
        <select name="group_by">
          <% groups_by_collection.each do |column_name, name| %>
            <% if column_name == @defaults['group_by'] %>
              <option value="<%= column_name %>" selected="selected"><%= name %></option>
            <% else %>
              <option value="<%= column_name %>"><%= name %></option>
            <% end %>
          <% end %>
        </select>
      </li>
    </ul>
    <ul>
      <li><input type="submit" value="Submit"></li>
    </ul>
    
  </form>
</section>

<section>
  <% if @data && @data[0] %>
    <%
      totals = {}
    %>
  
    <table>
      <thead>
        <tr>
          <% @data[0].each do |k, v| %>
            <th><%= k %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |row| %>
          <tr>
            <% row.each do |k, v| %>
              <%
                totals[k] ||= 0
                totals[k] += v.gsub(/[\$\,]/, '').to_i
              %>
              <td>
                <% if k == 'row_header' %>
                  <% if params != {} %>
                    <a href="<%= request.url + "&filter[#{@defaults['group_by']}]=#{row['row_header_id']}" %>"><%= v %></a>
                    <% else %>
                      <a href="<%= request.url + "?filter[#{@defaults['group_by']}]=#{row['row_header_id']}" %>"><%= v %></a>
                    <% end %>
                <% else %>
                  <%= v %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% totals.each do |k, total| %>
            <td><%= total %></td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <p>No data</p>
  <% end %>
</section>


