<div class="container">

  <h1>churnobyl prototype</h1>
  <section id="filter" class="form span-24">
	<div class="form span-24 last">
      <form action="/">
	  <input type="hidden" name="column" value="<%= @query['column'] %>">
        
        <ul>
          <li class="datepicker form span-5">
            <label>Start Date</label>
            <input type="text" name="startDate" value="<%= @query['startDate'] %>">
          </li>
          <li class="datepicker form span-5">
            <label>End Date</label>
            <input type="text" name="endDate" value="<%= @query['endDate'] %>">
          </li>
          <li class="group_by form span-5">
            <label>Group by</label>
            <select name="group_by">
              <% groups_by_collection.each do |column_name, name| %>
                <% if column_name == @query['group_by'] %>
                  <option value="<%= column_name %>" selected="selected"><%= name %></option>
                <% else %> 
                  <option value="<%= column_name %>"><%= name %></option>
                <% end %>
              <% end %>
            </select>
		  </li>
		  <li class="group_by form span-5">
            <label>Running total</label>
            <select name="interval">
              <% interval_collection.each do |column_name, name| %>
                <% if column_name == @query['interval'] %>
                  <option value="<%= column_name %>" selected="selected"><%= name %></option>
                <% else %>
                  <option value="<%= column_name %>"><%= name %></option>
                <% end %>
              <% end %>
            </select>
		  </li>
		 <li >
            <% if filters.count > 0 %>
				<label class="form span-18">Drilling down into...</label>
				
				<table class="form span-18" >
				  <% filters.each do |column_name, value| %>
					 <tr>
						<td class="form span-5 filters">
			    			<%=h(groups_by_collection[column_name] +": " + get_display_text(column_name, value)) %>
						</td>
						<td class="filters">
						<input class="selections" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%=filter_value(value) %>" <%=value[0] == '!' || value[0] == '-' ? '' : 'checked' %> >Apply filter&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections invert_filter" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%="!#{filter_value(value)}" %>" <%=value[0] == '!' ? 'checked': '' %>>Invert filter&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections disable_filter" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%="-#{filter_value(value)}" %>" <%=value[0] == '-' ? 'checked': '' %>>Disable Filter&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections remove_filter" type="radio" id="<%="#{Filter}#{column_name}remove" %>" name="<%="#{Filter}[#{column_name}]" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
					  	
						</td>
						
					  </tr>
				  <% end %>
				
				<% if params['column'].to_s != ''%>
					 <tr>
						<td class="form span-5 filters">
			    			<%=h("Members:  #{col_names[params['column']]}") %>
						</td>
						<td class="filters">
						<input class="selections" type="radio" name="<%="column" %>" value="<%=params['column'] %>" checked>Filter for&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections" type="radio" name="<%="column" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
					  	</td>
					  </tr>
				  <% end %>
				
				<tr>
					<td class="form span-5 filters">
						Constrain search to this <%= groups_by_collection[params['group_by']].downcase %> list
					</td>
					<td class="filters">
						<input class="selections" type="radio" name="<%="lock[#{params['group_by']}]" %>" value="" checked>Off&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections constrain_filter" type="radio" name="<%="lock[#{params['group_by']}]" %>" value="<%=row_header_id_list %>">On&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
					</tr>
				</table>
				
			<% else %>
				<label class="form span-18">Start exploring by clicking interesting links in the charts and tables below.</label>
			<% end %>
	      </li>
	
		  <li class="form span-24">
		    <input  type="submit" value="Refresh">
		  </li>
		</ul>
		<div id="removefiltertip" class="tooltip">
			When removed, this filter will be ignored by the system and removed from the screen.  When removing or disabling a filter, please carefully consider the 'Group By' setting.  If 'Work Site' is set thousands of rows could be returned and your browser could hang.
		</div>
		<div id="disablefiltertip" class="tooltip">
			When disabled, this filter will be ignored by the system but kept visible so it can be easily re-enabled.  When removing or disabling a filter, please carefully consider the 'Group By' setting.  If 'Work Site' is set thousands of rows could be returned and your browser could hang.
		</div>
		<div id="invertfiltertip" class="tooltip">
			Returns everything but this item, by excluding any data that matches this item.  Most useful when used with 'Constrain search...'.
		</div>
		<div id="constrainfiltertip" class="tooltip">
			Limits the results of the next search to those listed below.  Useful when disabling, removing or inverting a filter without changing the set of rows reported.  e.g.  you might want to see all churn for an organiser's sites without being limited to just the period the organiser was assigned to those sites.
		</div>
		</form>
    </div>
</section>
</div>

<section id="data">
	<div id="card_target">
		<% if leader? && params['column'].to_s == '' %>
			<!-- <ul>
				<li> -->
					<%= "We grew by #{growth(@data)}% p.a." %><br/>
				<!-- </li>
				<li> -->
					<%="#{get_cards_in(@data)} cards brought in per week. " %>
				<!-- </li>
								<li>  -->
					<%= "#{get_cards_in_target(@data)} needed to hold our ground. " %>
				<!-- </li>
								<li> -->
					<%= " #{get_cards_in_growth_target(@data)} needed to grow 10%." %>
				<!-- </li>
			</ul> -->
		<% end %>
	</div>
	<div id="card_target_tip" class="tooltip">
		The formula to hold our ground is calculated as 
			'<%= col_names['paying_real_loss'] %>' 
			+ '<%= col_names['a1p_to_other'] %>'
			- the people who resume paying without giving us a card ( i.e. '<%= col_names['paying_real_gain'] %>' - '<%= col_names['a1p_to_paying'] %>'  ) 
			averaged over just the period of time selected.
	</div>
	<div id="tabs">

		<% tables = params['column'].to_s == '' ? summary_tables : member_tables %>
		
		<ul>
			<% i = 0 %>
			
			<% if waterfall_chart_ok? || line_chart_ok? %>
				<li><a href="#tabs-<%=i+=1%>">Graph</a></li>
			<% end %>
			<% tables.each do | table | %>
				<li><a href="#tabs-<%=i+=1%>"><%=table[0] %></a></li>
			<% end %>
			
			<li><a href="#tabs-<%=i+=1%>">Diagnostics</a></li>
		</ul>
	
		<% i = 0 %>

		<% if waterfall_chart_ok? || line_chart_ok? %>
		
			<div id="tabs-<%=i+=1%>">
			
				<!-- <a id='hidechart' onclick="$('#chart').toggle();if ($('#hidechart').text()=='Show chart') $('#hidechart').text('Hide chart'); else $('#hidechart').text('Show chart');">Hide chart</a> -->
					<div id="chart">
					
					<% if line_chart_ok? %>
						LINE GRAPH GOES HERE
					<% else %>
					  	<table id="waterfall">
							<caption>Paying gain vs loss</caption>
							<thead>
								<tr>
									<th>Item</th>
									<th>Change</th>
								</tr>

							</thead>
							<tbody>
								<% waterfall_total = 0 %>
								<% @data.each do |row| %>
						            <tr>
										<td><a href="<%= drill_down_link_header(row) %>" style="text-decoration:none"><%= "#{row['row_header1']}" %></a> gain</td>
										<td><%= row['paying_real_gain'] %></td>
									</tr>
									<tr>
										<td><a href="<%= drill_down_link_header(row) %>" style="text-decoration:none"><%= "#{row['row_header1']}" %></a> loss</td>
										<td><%= row['paying_real_loss'] %></td>
									</tr>
									<% waterfall_total += (row['paying_real_gain'].to_i + row['paying_real_loss'].to_i)%>
								<% end %>
								<tr>
										<td>Net</td>
										<td><%= waterfall_total %></td>
								</tr>
								<tr>
								</tr>
							</tbody>

							
						</table>
					<% end %>
				</div>
			</div>
		<% end %>
		
		
		<% tables.each do | table, cols | %>
			<div id="tabs-<%=i+=1%>">
				
			<% if has_data? %>
				<ul>
			    	<% if @query['column'].empty? %>
				    	<li class="nav"><a href="/export_summary?<%= (query_string || '') + "&table=" + table %>" class="button">Export Summary</a></li>
				    <% else %>
				    	<li class="nav"><a href="/export_member_details?<%= (query_string || '') + "&table=" + table %>" class="button">Export Member Details</a></li>
					<% end %>
				</ul>
			    <% totals = {} %>
 
			    <table class="tablesorter" id='table<%=table %>'>
			      <thead>
			        <tr>
			          <% merge_cols(@data[0], cols).each do |column_name, v| %>
				    	<th id="<%=column_name %>h<%=i%>">
							
							<% if bold_col?(column_name) %> 
								<strong>
							<% end %>
							
							<%= col_names[column_name] || column_name %>
							
							<% if bold_col?(column_name) %> 
								</strong>
							<% end %>
						</th>
			          <% end %>
			        </tr>
			      </thead>
			      <tbody>
			        <% @data.each do |row| %>
			          <tr>
			            <% merge_cols(row, cols).each do |column_name, v| %>
							<%
							  totals[column_name] ||= 0
							  totals[column_name] = safe_add totals[column_name], v
							%>
							<td>
								<% if bold_col?(column_name) %> 
									<strong>
								<% end %>
		
							  		<% if column_name == 'row_header1' %>
									    <a href="<%= drill_down_link_header(row) %>"><%= v %></a>
									<% elsif column_name == 'period_header' %>
										<a href="<%= drill_down_link_interval(row) %>"><%= v %></a>
									<% elsif can_detail_cell? column_name, v %>
									    <a href="<%= detail_cell(row, column_name) %>"><%= v %></a>
									<% elsif can_export_cell? column_name, v %>
									    <a href="<%= export_cell(row, column_name) %>"><%= v %></a>
									<% else %>
									    <%= v %>
									<% end %>
								<% if bold_col?(column_name) %> 
									<strong>
								<% end %>
							</td>
			            <% end %>
			          </tr>
			        <% end %>
			      </tbody>
				  <% if params['column'].to_s == '' %>
			      	<tfoot>
				        <tr>
				          <% totals.each do |column_name, total| %>
				            <td>
								<% if bold_col?(column_name) %> 
									<strong>
								<% end %>
		
					      		<% if !no_total.include?(column_name) %>
				                	<% if can_export_cell? column_name, total %>
					                  <a href="<%= export_column(column_name) %>"><%= total %></a>
					                <% else %>
					                  <%= total %>
					                <% end %>
					            <% end %>
							<% if bold_col?(column_name) %> 
								<strong>
							<% end %>
					    </td>
				          <% end %>
				        </tr>
				      </tfoot>
					<% end %>
			    </table>
	
			  <% else %>
			    <p>No data</p>
			  <% end %>
	
	
			</div>
		<% end %>
		
		<div id="tabs-<%=i+=1%>">
			<ul>
		    	<li class="nav"><a href="/export_summary?<%= query_string %>" class="button">Export All Summary Data</a></li>
		    	<li class="nav"><a href="/export_member_details?<%= query_string %>" class="button">Export All Member Details</a></li>
			</ul>
			
			<pre>
		      <%= h @sql %>
		    </pre>
		</div>
		
		<!-- tooltip descriptions -->
		<% i=0 %> 
		<% if waterfall_chart_ok? || line_chart_ok? %>
			<% i+=1 %>
		<% end %> 
		
		<% tables.each do | table, cols | %>
			<% i+=1 %>
			<% merge_cols(@data[0], cols).each do |column_name, v| %>
				<% if (tips[column_name] || "") != "" %>
					<div id="<%=column_name %>tip<%=i %>" class="tooltip">
						<%=tips[column_name]%>
					</div>
				<% end %>
			<% end %>
		<% end %>
		
	</div>
	
	
</section>




<script>
	<% if (line_chart_ok?) %>
	
		var chart;
		function setupchart() {
		   chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'chart',
		         defaultSeriesType: 'line',
		         marginRight: 130,
		         marginBottom: 130,
				 height: 500
		      },
		      title: {
		         text: 'Net Paying',
		         x: -20 //center
		      },
		      subtitle: {
		         text: 'Gain and Decline',
		         x: -20
		      },
		      xAxis: {
		         categories: [
					<%= periods(@data).collect { | k | "'#{k[0]}'"}.join(",") %>
				] ,
				labels: {
				            rotation: -45,
				            align: 'right',
				         }
		      },
		      yAxis: {
		         title: {
		            text: "<%= col_names['row_header1'] %>"
		         },
		         plotLines: [{
		            value: 0,
		            width: 1,
		            color: '#808080'
		         }]
		      },
		
			plotOptions: {
												         series: {
												            cursor: 'pointer',
												            point: {
												               events: {
												                  click: function() {
																  	
																	window.location = "<%=request.url %>" + this.id;
												                     // chart.htmlExpand(null, {
												                     // 												                        pageOrigin: {
												                     // 												                           x: this.pageX, 
												                     // 												                           y: this.pageY
												                     // 												                        },
												                     // 												                        headingText: this.series.name,
												                     // 												                        maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+ 
												                     // 												                           this.y +' visits',
												                     // 												                        width: 200
												                     // 												                     });
												                  }
												               }
												            }
												         }},
									
									
			
		      tooltip: {
		         formatter: function() {
		                   return '<b>'+ this.series.name +'</b><br/>'+
		               this.x +': '+ this.y;
		         }
		      },
		      legend: {
		         layout: 'vertical',
		         align: 'right',
		         verticalAlign: 'top',
		         x: -10,
		         y: 100,
		         borderWidth: 0
		      },
			  series: [
				<%= pivot(@data).collect { | k, v | "{ name: '#{h(k)}', data: [#{v.collect{ | i | i }.join(',')}] }" }.join(",\n") %>
			
				]
		   });
		};
	<% end %>

	$(function() {
		$(".datepicker input").datepicker({dateFormat: 'yy-mm-dd'});
  		
		$("table").tablesorter();
		
		$("#tabs").tabs();
		
		$('#tabs').bind('tabsshow', function(event, ui) {
			$('.floatHeader').hide(); // necessary otherwise a retarded floating table header appears until you scroll
		});
		
		<% tables.each do | table, cols | %>
			$('#table<%=table %>').floatHeader( { recalculate: true, fadeIn:0 }); // recalculate is needed to work with tabs but causes high cpu
		<% end %>
		
		
		<% if (series_count(@data) <= 40) %>
			<% if (query['interval'] != 'none') %>
				setupchart();
			<% else %>
					$("#waterfall").charts({ charttype: "waterfall", direction: "vertical", labelcolumn: 0, valuecolumn: 1, chartbgcolours: ["#336699", "#669933", "993333"], chartfgcolours: ["#FFFFFF", "#FFFFFF", "#FFFFFF"] });

			<% end %>
		<% end %>
		
		
		// setup tooltip for a single DIV element
		<% i=0 %> 
		<% if waterfall_chart_ok? || line_chart_ok? %>
			<% i+=1 %>
		<% end %> /* skip first tab because it is graphs */ 
		
		<% tables.each do | table, cols | %>
			<% i+=1 %>
			<% merge_cols(@data[0], cols).each do |column_name, v| %>
				<% if (tips[column_name] || "") != "" %>
					$("#<%=column_name %>h<%=i%>").tooltip({
						tip: '#<%=column_name %>tip<%=i %>',
						position: 'center right',
						offset: [-25, 0],
						delay: 0,
						relative: true
					});
				<% end %>
			<% end %>
		<% end %>
		
		$("#card_target").tooltip({
			tip: '#card_target_tip',
			position: 'top center',
			delay: 0,
			relative: false
		});
		
		$(".remove_filter").tooltip({
			tip: '#removefiltertip',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
		
		$(".disable_filter").tooltip({
			tip: '#disablefiltertip',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
		
		$(".invert_filter").tooltip({
			tip: '#invertfiltertip',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
			
		$(".constrain_filter").tooltip({
			tip: '#constrainfiltertip',
			position: 'center right',
			offset: [0, 50],
			delay: 0,
			relative: true
		});
  	});



</script>
