<% if !@warning.empty? %>
    <div class="flash">
      <%= @warning %>
    </div>
<% end %>

<div class="container">
  <h1><a href="/"><%= request.host.downcase %></a></h1>
  	
  <!-- Form -->
  <%= erb :'summary/filter_form' %>
</div>

<section id="data">
	<% if (leader? || lead?) && params['column'].to_s == '' %>
      <div id="card_target">
            <%= "We grew by #{data_sql.growth(@data)}% p.a. over #{data_sql.weeks.round(1)} weeks" %><br/>
			<%="#{data_sql.get_cards_in(@data)} cards brought in per week. " %>
			<%= "#{data_sql.get_cards_in_target(@data)} needed to hold our ground. " %>
			<%= " #{data_sql.get_cards_in_growth_target(@data)} needed to grow 10%." %>
			<% if data_sql.transfers?(@data) %> 
	      		<br/>WARNING: These results are influenced by transfers.  See the transfer tab.
			<% end %>
      </div>
            
    <% end %>
	<div id="card_target_tip" class="tooltip">
		The formula to hold our ground is calculated as follows:
		<%= data_sql.getmath_get_cards_in_target(@data) %> 
	</div>
	<div id="tabs">
		
		<ul>
			<% i = 0 %>
			
			<% if waterfall_chart_ok? || line_chart_ok? %>
				<li><a href="#tabs-graph">Graph</a></li>
			<% end %>
			<% tables.each do | table | %>
				<li><a href="#tabs-<%=i+=1%>"><%=table[0] %></a></li>
			<% end %>
			<% if data_sql.transfers?(@data) %>
				<li><a href="#tabs-<%=i+=1%>">Transfers</a></li>
			<% end %>
			
			<li><a href="#tabs-<%=i+=1%>">Diagnostics</a></li>
		</ul>
	
		<% i = 0 %>

    <% if waterfall_chart_ok? || line_chart_ok? %>
      <div id="tabs-graph" class="tab">
        <a class="printer screen_only" href="javascript:print_tab('graph');"><img src="images/printer32.png" title="print graph" alt="print graph"/></a>
        <%= erb :'summary/graph', :locals => {:i => i} %>
      </div>
    <% end %>
		
		
		<% tables.each do | table, cols | %>
			<div id="tabs-<%=i+=1%>" class="tab">
              <%= erb :'summary/table', :locals => {:table => table, :cols => cols, :i => i} %>
			</div>
		<% end %>
		
		<% if data_sql.transfers?(@data) %>
        	<div id="tabs-<%=i+=1%>" class="tab">
		    	<p>
					To get more accurate weekly averages you must refine your search.  There is an explanation below the table   
				</p>
				<p>
					To see results without transfers select;
					<ul>
						<li>
							<a href="<%= uri_join_queries 'site_constrain=start', 'group_by=companyid' %>">sites as assigned at the <strong>start</strong> of the period</a> 
						</li>
						<li>
							<a href="<%= uri_join_queries 'site_constrain=end', 'group_by=companyid' %>">sites as assigned at the <strong>end</strong> of the period</a>
						</li>
						<li>
							Or select a mostly transfer free period either [before] or [after] a significant transfer in the table below  
				
							<table id="transferDates" class="tablesorter">
				                <thead>
				                    <th>Transfer Date</th>
				                    <th></th>
									<th>Transfers In</th>
				                    <th>Transfers Out</th>
									<th></th>
								</thead>
				                <% get_transfers.each do |row| %>
				                    <tr>
				                        <td>
			                       			<a href="<%= uri_join_queries "endDate=" + Date.parse(row['changedate']).strftime(DateFormatDisplay), "startDate="+ Date.parse(row['changedate']).strftime(DateFormatDisplay), "group_by=companyid" %>" title="date of transfer">
					                            <%= Date.parse(row['changedate']).strftime(DateFormatDisplay) %>
					                        </a>
									    </td>
										<td>
											<a href="<%= uri_join_queries "endDate=" + (Date.parse(row['changedate'])-1).strftime(DateFormatDisplay) %>" title="<%= "#{Date.parse(data_sql.query['startDate']).strftime(DateFormatDisplay)} to #{(Date.parse(row['changedate'])-1).strftime(DateFormatDisplay)}" %>">
				                        		[before]
											</a>
										</td>
										<td>
					                        <%= row['transfer_in'] %>
				                        </td>
				                        <td>
				                        	<%= row['transfer_out'] %>
				                        </td>
				                    	<td>
					 						<a href="<%= uri_join_queries  "startDate=" + (Date.parse(row['changedate'])+1).strftime(DateFormatDisplay) %>" title="<%= "#{(Date.parse(row['changedate'])+1).strftime(DateFormatDisplay)} to #{Date.parse(data_sql.query['endDate']).strftime(DateFormatDisplay)}" %>">
												[after]
											</a>
										</td>
									</tr>
				                <% end  %>
				            </table>
						</li>
					</ul>
				<p>
					Transfers can potentially affect these results because one or more sites weren't held for the entire period.  For instance, if the sites were only held for half the period, averages will be halved as they are calculated over the whole period.  Start or end counts may show zero for a site when it had members because the current selection didn't contain that site at the time.  Shown in the table are transfers of both paying and a1p members that moved from outside the current selection to inside the current selection or vice versa. e.g. a growth site (outside this selection) was handed back to the development organiser (inside this selection).  If a significant volume of these occur (think patch reassignment) during the selected period, the composition of the selection may be drastically altered having an unpredictable affect on totals, averages and growth calculations.  </p>
				<p>
					<%= data_sql.getmath_transfers?(@data) %>
				</p>
				Not counted are internal transfers which are movements within this selection that don't affect the selection's averages.   
			</div>
		<% end %>
		
		
		

		<!-- tooltip descriptions -->
		<% if @data.has_data? %>
            <% i=0 %>

            <% tables.each do | table, cols | %>
                <% i+=1 %>
                <% merge_cols(@data[0], cols).each do |column_name, v| %>
                    <% if (tips[column_name] || "") != "" %>
                        <div id="<%=column_name %>tip<%=i %>" class="tooltip">
                            <%=tips[column_name]%>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
		
	</div>
	
	
</section>




<script>
	<% if (line_chart_ok?) %>
	
		var chart;
		function setupchart() {
		   chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'chart',
		         defaultSeriesType: 'line',
		         marginRight: 130,
		         marginBottom: 130,
				 height: 500
		      },
		      title: {
		         text: 'Net Paying',
		         x: -20 //center
		      },
		      subtitle: {
		         text: 'Gain and Decline',
		         x: -20
		      },
		      xAxis: {
		         categories: [
					<%= model.categories %>
				] ,
				labels: {
				            rotation: -45,
				            align: 'right',
				         }
		      },
		      yAxis: {
		         title: {
		            text: "<%= col_names['row_header1'] %>"
		         },
		         plotLines: [{
		            value: 0,
		            width: 1,
		            color: '#808080'
		         }]
		      },
		
			plotOptions: {
												         series: {
												            cursor: 'pointer',
												            point: {
												               events: {
												                  click: function() {
																  	
																	window.location = "<%=request.url %>" + this.id;
												                     // chart.htmlExpand(null, {
												                     // 												                        pageOrigin: {
												                     // 												                           x: this.pageX, 
												                     // 												                           y: this.pageY
												                     // 												                        },
												                     // 												                        headingText: this.series.name,
												                     // 												                        maincontentText: Highcharts.dateFormat('%A, %b %e, %Y', this.x) +':<br/> '+ 
												                     // 												                           this.y +' visits',
												                     // 												                        width: 200
												                     // 												                     });
												                  }
												               }
												            }
												         }},
									
									
			
		      tooltip: {
		         formatter: function() {
		                   return '<b>'+ this.series.name +'</b><br/>'+
		               this.x +': '+ this.y;
		         }
		      },
		      legend: {
		         layout: 'vertical',
		         align: 'right',
		         verticalAlign: 'top',
		         x: -10,
		         y: 100,
		         borderWidth: 0
		      },
			  series: [
				<%= data_sql.pivot(@data, next_group_by).collect { | k, v | "{ name: '#{h(k)}', data: [#{v.collect{ | i | i }.join(',')}] }" }.join(",\n") %>
				]
		   });
		};
	<% end %>

    function print_tab(index)
    {
        // remove ui-tabs-hide because it has displays:block for print media - so file-print show all tabs
        $(".ui-tabs-hide").addClass("ui-tabs-hide-print");
        $(".ui-tabs-hide").removeClass("ui-tabs-hide");
        window.print();
        $(".ui-tabs-hide-print").addClass("ui-tabs-hide");
        $(".ui-tabs-hide-print").removeClass("ui-tabs-hide-print");
    }

    function print_diagnostics(index)
    {
        $("#tabs-" + index.toString()).removeClass("screen_only") ;
        print_tab(index);
        $("#tabs-" + index.toString()).addClass("screen_only") ;
    }

	$(function() {
		$(".datepicker input").datepicker({dateFormat: <%=DateFormatPicker%>});
  		
		$("table").tablesorter();
		
		$("#tabs").tabs();
		
		$('#tabs').bind('tabsshow', function(event, ui) {
			$('.floatHeader').hide(); // necessary otherwise a retarded floating table header appears until you scroll
		});
		
		<% tables.each do | table, cols | %>
			$('#table<%=table.sub(' ', '') %>').floatHeader( { recalculate: true, fadeIn:0 }); // recalculate is needed to work with tabs but causes high cpu
		<% end %>
		
		<% if (line_chart_ok?) %>
            setupchart();
        <% elsif waterfall_chart_ok? %>
		    $("#waterfall").charts({ charttype: "waterfall", direction: "vertical", labelcolumn: 0, valuecolumn: 1, chartbgcolours: ["#336699", "#669933", "993333"], chartfgcolours: ["#FFFFFF", "#FFFFFF", "#FFFFFF"] });
		<% end %>

		// setup tooltip for a single DIV element
		<% if @data.has_data? %>
            <% i=0 %>

            <% tables.each do | table, cols | %>
                <% i+=1 %>
                <% merge_cols(@data[0], cols).each do |column_name, v| %>
                    <% if (tips[column_name] || "") != "" %>
                        $("#<%=column_name %>h<%=i%>").tooltip({
                            tip: '#<%=column_name %>tip<%=i %>',
                            position: 'top center',
                            offset: [-25, -25],
                            delay: 0,
                            relative: true
                        });
                    <% end %>
                <% end %>
            <% end %>
        <% end %>

		$("#card_target").tooltip({
			tip: '#card_target_tip',
			position: 'top center',
			delay: 0,
			relative: false
		});
		$(".site_constrain").tooltip({
			tip: '#site_constrain',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
		
		$(".site_constrain_default").tooltip({
			tip: '#site_constrain_default',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
		
		$(".remove_filter").tooltip({
			tip: '#removefiltertip',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
		
		$(".disable_filter").tooltip({
			tip: '#disablefiltertip',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
		
		$(".invert_filter").tooltip({
			tip: '#invertfiltertip',
			position: 'center right',
			offset: [25, 50],
			delay: 0,
			relative: true
		});
			
		$(".constrain_filter").tooltip({
			tip: '#constrainfiltertip',
			position: 'center right',
			offset: [0, 50],
			delay: 0,
			relative: true
		});
  	});



</script>
