<div class="container">

  <h1>churnobyl prototype</h1>
  <section id="filter" class="form span-24">
	<div class="span-24 last">
      <form action="/">
	  <input type="hidden" name="column" value="<%= @query['column'] %>">
        
        <ul>
          <li class="datepicker span-5">
            <label>Start Date</label>
            <input type="text" name="startDate" value="<%= @query['startDate'] %>">
          </li>
          <li class="datepicker span-5">
            <label>End Date</label>
            <input type="text" name="endDate" value="<%= @query['endDate'] %>">
          </li>
          <li class="group_by span-5">
            <label>Sub-total on</label>
            <select name="group_by">
              <% groups_by_collection.each do |column_name, name| %>
                <% if column_name == @query['group_by'] %>
                  <option value="<%= column_name %>" selected="selected"><%= name %></option>
                <% else %> 
                  <option value="<%= column_name %>"><%= name %></option>
                <% end %>
              <% end %>
            </select>
		  </li>
		  <li class="group_by span-5">
            <label>Running totals on</label>
            <select name="interval">
              <% interval_collection.each do |column_name, name| %>
                <% if column_name == @query['interval'] %>
                  <option value="<%= column_name %>" selected="selected"><%= name %></option>
                <% else %>
                  <option value="<%= column_name %>"><%= name %></option>
                <% end %>
              <% end %>
            </select>
		  </li>
		 <li >
            <label class="form span-18">Filters</label>
			
			<table class="form span-18">
			  <% (params[Filter] || []).reject{ |column_name, value | value.empty? }.each do |column_name, value| %>
					 <tr>
						<td class="span-5">
			    			<%=h(groups_by_collection[column_name] +": " + get_display_text(column_name, value)) %>
						</td>
						<td>
						<input class="selections" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%=filter_value(value) %>" <%=value[0] == '!' || value[0] == '-' ? '' : 'checked' %> >Filter for&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%="!#{filter_value(value)}" %>" <%=value[0] == '!' ? 'checked': '' %>>Filter out&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%="-#{filter_value(value)}" %>" <%=value[0] == '-' ? 'checked': '' %>>Ignore Filter&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="selections" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
					  	</td>
					  </tr>
			  <% end %>
			</table>
	      </li>
		  <li class="form span-24">
		    <input  type="submit" value="Refresh">
		  </li>
		</ul>
		</form>
    </div>
</section>
</div>

<section id="data">
	<div id="tabs">
		<ul>
			<% i = 0 %>
			<% tables.each do | table | %>
				<li><a href="#tabs-<%=i+=1%>"><%=table[0] %></a></li>
			<% end %>
			
			<li><a href="#tabs-<%=i+=1%>">Graph</a></li>
			<li><a href="#tabs-<%=i+=1%>">Diagnostics</a></li>
		</ul>
	
		<% i = 0 %>
		<!-- <% tables.each do | table, cols | %> -->
			<div id="tabs-<%=i+=1%>">
				
				<ul>
			    	<% if @query['column'].empty? %>
				      <li><a href="/export_summary?<%= query_string %>" class="button">Export Summary</a></li>
				    <% end %>
				    <li><a href="/export_member_details?<%= query_string %>" class="button">Export Member Details</a></li>
				    <li><a id='toggle' onclick="$('.advcol').toggle();if ($('#toggle').text()=='Show more') $('#toggle').text('Show less'); else $('#toggle').text('Show more');">Show more</a></li>
				</ul>
			  <% if has_data? %>
			    <% totals = {} %>
 
			    <table class="tablesorter">
			      <thead>
			        <tr>
			          <% @data[0].each do |column_name, v| %>
				    	<th <%= show_col?(column_name) ? '' : 'class="advcol"' %> id="<%=column_name %>head">
							
							<% if bold_col?(column_name) %> 
								<strong>
							<% end %>
							
							<%= col_names[column_name] || column_name %>
							
							<% if bold_col?(column_name) %> 
								</strong>
							<% end %>
						</th>
			          <% end %>
			        </tr>
			      </thead>
			      <tbody>
			        <% @data.each do |row| %>
			          <tr>
			            <% row.each do |column_name, v| %>
					<%
					  totals[column_name] ||= 0
					  totals[column_name] = safe_add totals[column_name], v
					%>
					<td <%= show_col?(column_name) ? '' : 'class="advcol"' %>>
						<% if bold_col?(column_name) %> 
							<strong>
						<% end %>
		
					  		<% if column_name == 'row_header1' %>
							    <a href="<%= drill_down_link(row) %>"><%= v %></a>
							  <% elsif can_detail_cell? column_name, v %>
							    <a href="<%= detail_cell(row, column_name) %>"><%= v %></a>
							  <% elsif can_export_cell? column_name, v %>
							    <a href="<%= export_cell(row, column_name) %>"><%= v %></a>
							  <% else %>
							    <%= v %>
							<% end %>
						<% if bold_col?(column_name) %> 
							<strong>
						<% end %>
					</td>
			            <% end %>
			          </tr>
			        <% end %>
			      </tbody>
			      <tfoot>
			        <tr>
			          <% totals.each do |column_name, total| %>
			            <td <%= show_col?(column_name) ? '' : 'class="advcol"' %>>
							<% if bold_col?(column_name) %> 
								<strong>
							<% end %>
		
				      		<% if !no_total.include?(column_name) %>
			                	<% if can_export_cell? column_name, total %>
				                  <a href="<%= export_column(column_name) %>"><%= total %></a>
				                <% else %>
				                  <%= total %>
				                <% end %>
				            <% end %>
						<% if bold_col?(column_name) %> 
							<strong>
						<% end %>
				    </td>
			          <% end %>
			        </tr>
			      </tfoot>
			    </table>
	
				<% @data[0].each do | column_name, v | %>
					<% if (tips[column_name] || "") != "" %>
						<div id="<%=column_name %>tip" class="tooltip">
							<%=tips[column_name]%>
						</div>
					<% end %>
				<% end %>

			  <% else %>
			    <p>No data</p>
			  <% end %>
	
	
			</div>
		<!-- <% end %> -->
		
		
		<div id="tabs-<%=i+=1%>">
			<% if series_count(@data) <= 40 %>
		
				<!-- <a id='hidechart' onclick="$('#chart').toggle();if ($('#hidechart').text()=='Show chart') $('#hidechart').text('Hide chart'); else $('#hidechart').text('Show chart');">Hide chart</a>
								 -->
					
					<div id="chart">
					<% if query['interval'] != 'none' %>
						LINE GRAPH GOES HERE
					<% else %>
					  	<table id="waterfall">
							<caption>Paying gain vs loss</caption>
							<thead>
								<tr>
									<th>Item</th>
									<th>Change</th>
								</tr>

							</thead>
							<tfoot>
								<tr>
									<td>End Difference</td>
									<td><%= paying_end_total(@data) - paying_end_total(@data)%></td>
								</tr>
							</tfoot>
							<tbody>
								<tr>
										<td></td>
										<td>0</td>
								</tr>
								<% @data.each do |row| %>
						            <tr>
										<td><%= "#{row['row_header1']} gain" %></td>
										<td><%= row['paying_real_gain'] %></td>
									</tr>
									<tr>
										<td><%= "#{row['row_header1']} loss" %></td>
										<td><%= row['paying_real_loss'] %></td>
									</tr>
								<% end %>
								<tr>
										<td></td>
										<td><%= paying_end_total(@data) - paying_end_total(@data)%> </td>
								</tr>
							</tbody>
						</table>
					<% end %>
				<% else %>
					Too much data to display graph
				<% end %>
			</div>
		</div>

		<div id="tabs-<%=i+=1%>">
			<h2>SQL sent</h2>
	    	<pre>
		      <%= h @sql %>
		    </pre>
		</div>
	</div>
</section>




<script>
	<% if (series_count(@data) <= 40) %>
	
		var chart;
		function setupchart() {
		   chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'chart',
		         defaultSeriesType: 'line',
		         marginRight: 130,
		         marginBottom: 130,
				 height: 500
		      },
		      title: {
		         text: 'Net Paying',
		         x: -20 //center
		      },
		      subtitle: {
		         text: 'Gain and Decline',
		         x: -20
		      },
		      xAxis: {
		         categories: [
					<%= periods(@data).collect { | k | "'#{k[0]}'"}.join(",") %>
				] ,
				labels: {
				            rotation: -45,
				            align: 'right',
				         }
		      },
		      yAxis: {
		         title: {
		            text: "<%= col_names['row_header1'] %>"
		         },
		         plotLines: [{
		            value: 0,
		            width: 1,
		            color: '#808080'
		         }]
		      },
		      tooltip: {
		         formatter: function() {
		                   return '<b>'+ this.series.name +'</b><br/>'+
		               this.x +': '+ this.y;
		         }
		      },
		      legend: {
		         layout: 'vertical',
		         align: 'right',
		         verticalAlign: 'top',
		         x: -10,
		         y: 100,
		         borderWidth: 0
		      },
			  series: [
				<%= pivot(@data).collect { | k, v | "{ name: '#{h(k)}', data: [#{v.collect{ | i | i}.join(',')}] }" }.join(",\n") %>
			  ]
		   });
		};
	<% end %>

	$(function() {
		$(".datepicker input").datepicker({dateFormat: 'yy-mm-dd'});
  		$("table").tablesorter();
		$(".advcol").hide();
		// setup tooltip for a single DIV element
		<% if @data.count != 0  %>
			<% @data[0].each do | column_name, v | %>
				<% if (tips[column_name] || "") != "" %>
		
					$("#<%=column_name %>head").tooltip({
						tip: '#<%=column_name %>tip',
						position: 'top center',
						offset: [-25, 0],
						delay: 0
					});
				
				<% end %>
			<% end %>
		<% end %>
		
		<% if (series_count(@data) <= 40) %>
			<% if (query['interval'] != 'none') %>
				setupchart();
			<% else %>
					$("#waterfall").charts({ charttype: "waterfall", direction: "vertical", labelcolumn: 0, valuecolumn: 1, chartbgcolours: ["#FFFFFF", "#669933", "993333"], chartfgcolours: ["#FFFFFF", "#FFFFFF", "#FFFFFF"] });

			<% end %>
		<% end %>
		
		$( "#tabs" ).tabs();
  	});
</script>
