<div class="container">

  <h1>Summary</h1>

  <div class="span-24 last">
    <section class="form span-18">
      <form action="/summary">
        <% (params[Filter] || []).each do |column_name, value| %>
          <input type="hidden" name="<%= "#{Filter}[#{column_name}]" %>" value="<%= value %>">
          <input type="hidden" name="<%= "#{FilterNames}[#{value}]" %>" value="<%= params[FilterNames][value] %>">
        <% end %>
        
        
        <ul>
          <li class="datepicker span-5">
            <label>Start Date</label>
            <input type="text" name="startDate" value="<%= @query['startDate'] %>">
          </li>
          <li class="datepicker span-5">
            <label>End Date</label>
            <input type="text" name="endDate" value="<%= @query['endDate'] %>">
          </li>
          <li class="group_by span-5 last">
            <label>Sub-total on</label>
            <select name="group_by">
              <% groups_by_collection.each do |column_name, name| %>
                <% if column_name == @query['group_by'] %>
                  <option value="<%= column_name %>" selected="selected"><%= name %></option>
                <% else %>
                  <option value="<%= column_name %>"><%= name %></option>
                <% end %>
              <% end %>
            </select>
          </li>
        </ul>
        <ul>
          <li><input type="submit" value="Refresh"></li>
        </ul>
      </form>
    </section>
    <section class="span-6 last">
      <h2>Filters</h2>
      <ul>
        <% filter_names.each do |filter_value, filter_name| %>
          <li><strong><%= filter_name %></strong> <a href="<%= remove_filter_link(filter_value) %>">remove</a></li>
        <% end %>
      </ul>
    </section>
  </div>
</div>

<section id="data">
  <ul>
    <li><a href="/export_summary?<%= query_string %>" class="button">Export Summary</a></li>
    <li><a href="/export_member_details?<%= query_string %>" class="button">Export Member Details</a></li>
  </p>
  <% if has_data? %>
    <%
      totals = {}
    %>
  
    <table class="tablesorter">
      <thead>
        <tr>
          <% @data[0].each do |column_name, v| %>
            <th><%= column_name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @data.each do |row| %>
          <tr>
            <% row.each do |column_name, v| %>
              <%
                totals[column_name] ||= 0
                totals[column_name] = safe_add totals[column_name], v
              %>
              <td>
                <% if column_name == 'row_header' %>
                  <a href="<%= drill_down_link(row) %>"><%= v %></a>
                <% elsif can_export_cell? column_name, v %>
                  <a href="<%= export_cell(row, column_name) %>"><%= v %></a>
                <% else %>
                  <%= v %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <% totals.each do |column_name, total| %>
            <td>
              <% if can_export_cell? column_name, total %>
                <a href="<%= export_column(column_name) %>"><%= total %></a>
              <% else %>
                <%= total %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tfoot>
    </table>
  <% else %>
    <p>No data</p>
  <% end %>
</section>
<div class="container">
  <section>
    <h2>SQL sent</h2>
    <pre>
      <%= h @sql %>
    </pre>
  </section>
</div>

<script>
  $(function() {
  		$(".datepicker input").datepicker({dateFormat: 'yy-mm-dd'});
  		$("table").tablesorter();
  	});
</script>
