<div id="error-page"  class="container">
  <div class="prepend-2 span-20 append-2 last">
    <h1>There was an error</h1>
    <section class="errors">
      <label>Error</label>
      <p class="error"><%= h @error.message %></p>

      <label>Stacktrace</label>
      <p class="info">
        <%= (h @error.backtrace.join($/)).gsub($/, "<br />") %>
      </p>

      <label>URL</label>
      <p class="info">
        <%= h request.url %>
      </p>

      <label>Params</label>
      <p class="info">
        <%= h params.inspect %>
      </p>

      <label>SQL</label>
      <p class="info">
        <%= h @sql %>
      </p>
    </section>
  </div>
</div>
