<section id="filter" class="form span-24">
	<div class="form">
    <form action="/">
	    <input type="hidden" name="column" value="<%= data_sql.query['column'] %>"/>
      <ul>
        <li class="datepicker form span-5">
          <label>Start Date</label>
          <input type="text" name="startDate" value="<%= data_sql.query['startDate'] %>">
        </li>
        <li class="datepicker form span-5">
          <label>End Date</label>
          <input type="text" name="endDate" value="<%= data_sql.query['endDate'] %>">
        </li>
        <li class="group_by form span-5">
          <label>Group by</label>
          <select name="group_by">
            <% Mappings.groups_by_collection.each do |column_name, name| %>
              <% if column_name == data_sql.query['group_by'] %>
                <option value="<%= column_name %>" selected="selected"><%= name %></option>
              <% else %> 
                <option value="<%= column_name %>"><%= name %></option>
              <% end %>
            <% end %>
          </select>
    	  </li>
    	  <li class="group_by form span-5">
              <label for="input-internal-select">Running total</label>
              <select id="input-internal-select" name="interval">
                <% @data.interval_selections.each do |column_name, name| %>
                  <% if column_name == data_sql.query['interval'] %>
                    <option value="<%= column_name %>" selected="selected"><%= name %></option>
                  <% else %>
                    <option value="<%= column_name %>"><%= name %></option>
                  <% end %>
                <% end %>
              </select>
    	  </li>
    	 <li >
              <% if filters.count > 0 %>
    			<label class="form span-18">Drilling down into...</label>
			
    			<table id="filters" class="form span-18" >
    			  <% filters.each do |column_name, value| %>
    				 <tr>
    					<td class="form span-5 filters">
    		    			<%=h(Mappings.groups_by_collection[column_name] +": " + get_display_text(column_name, value)) %>
    					</td>
    					<td class="filters">
    					<input class="selections" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%=filter_value(value) %>" <%=value[0] == '!' || value[0] == '-' ? '' : 'checked' %> >Apply filter&nbsp;&nbsp;&nbsp;&nbsp;
    					<input class="selections invert_filter" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%="!#{filter_value(value)}" %>" <%=value[0] == '!' ? 'checked': '' %>>Invert filter&nbsp;&nbsp;&nbsp;&nbsp;
    					<input class="selections disable_filter" type="radio" name="<%="#{Filter}[#{column_name}]" %>" value="<%="-#{filter_value(value)}" %>" <%=value[0] == '-' ? 'checked': '' %>>Disable Filter&nbsp;&nbsp;&nbsp;&nbsp;
    					<input class="selections remove_filter" type="radio" id="<%="#{Filter}#{column_name}remove" %>" name="<%="#{Filter}[#{column_name}]" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
				  	
    					</td>
					
    				  </tr>
    			  <% end %>
			
    			<% if params['column'].to_s != ''%>
    				 <tr>
    					<td class="form span-5 filters">
    		    			<%=h("Members:  #{col_names[params['column']]}") %>
    					</td>
    					<td class="filters">
    					<input class="selections" type="radio" name="<%="column" %>" value="<%=params['column'] %>" checked>Filter for&nbsp;&nbsp;&nbsp;&nbsp;
    					<input class="selections" type="radio" name="<%="column" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
    				  	</td>
    				  </tr>
    			  <% end %>
			
    			<tr>
    				<td class="form span-5 filters">
    					Constrain search to this <%= Mappings.groups_by_collection[params['group_by'] || 'branchid'].downcase %> list
    				</td>
    				<td class="filters">
    					<input class="selections" type="radio" name="<%="lock[#{params['group_by']}]" %>" value="" checked>Off&nbsp;&nbsp;&nbsp;&nbsp;
    					<input class="selections constrain_filter" type="radio" name="<%="lock[#{params['group_by']}]" %>" value="<%=row_header_id_list %>">On&nbsp;&nbsp;&nbsp;&nbsp;
    				</td>
    				</tr>
    			</table>
			
    		<% else %>
    			<label class="form span-18">Start exploring by clicking interesting links in the charts and tables below.</label>
    		<% end %>
          </li>

    	  <li class="form span-24">
    	    <input  type="submit" value="Refresh">
    	  </li>
	    </ul>
  		<div id="removefiltertip" class="tooltip">
  			When removed, this filter will be ignored by the system and removed from the screen.  When removing or disabling a filter, please carefully consider the 'Group By' setting.  If 'Work Site' is set thousands of rows could be returned and your browser could hang.
  		</div>
  		<div id="disablefiltertip" class="tooltip">
  			When disabled, this filter will be ignored by the system but kept visible so it can be easily re-enabled.  When removing or disabling a filter, please carefully consider the 'Group By' setting.  If 'Work Site' is set thousands of rows could be returned and your browser could hang.
  		</div>
  		<div id="invertfiltertip" class="tooltip">
  			Returns everything but this item, by excluding any data that matches this item.  Most useful when used with 'Constrain search...'.
  		</div>
  		<div id="constrainfiltertip" class="tooltip">
  			Limits the results of the next search to those listed below.  Useful when disabling, removing or inverting a filter without changing the set of rows reported.  e.g.  you might want to see all churn for an organiser's sites without being limited to just the period the organiser was assigned to those sites.
  		</div>
		</form>
  </div>
</section>
