<section id="filter" class="form span-24">
	<div class="form">
    <form action="/">
	    <input type="hidden" name="column" value="<%= model['column'] %>"/>
      <ul>
        <li class="datepicker form span-5">
          <label>Start Date</label>
          <input type="text" name="startDate" value="<%= model['startDate'] %>">
        </li>
        <li class="datepicker form span-5">
          <label>End Date</label>
          <input type="text" name="endDate" value="<%= model['endDate'] %>">
        </li>
        <li class="group_by form span-5">
          <label>Group by</label>
          <select name="group_by">
            <% model.group_names.each do |column_name, name| %>
              <% if column_name == model['group_by'] %>
                <option value="<%= column_name %>" selected="selected"><%= name %></option>
              <% else %> 
                <option value="<%= column_name %>"><%= name %></option>
              <% end %>
            <% end %>
          </select>
    	  </li>
    	  <li class="group_by form span-5">
              <label for="input-internal-select">Running total</label>
              <select id="input-internal-select" name="interval">
                <% model.interval_names.each do |column_name, name| %>
                  <% if column_name == model['interval'] %>
                    <option value="<%= column_name %>" selected="selected"><%= name %></option>
                  <% else %>
                    <option value="<%= column_name %>"><%= name %></option>
                  <% end %>
                <% end %>
              </select>
    	  </li>
    	 <li >
              <% if model.filters.count > 0 %>
    			<label class="form span-18 screen_only">Drilling down into...</label>
			
    			<table id="filters" class="form span-18" >
    			  <% model.filters.each do |f| %>
    				 <tr class="<%= f.type == 'disable' ? 'screen_only': '' %>">
    					<td class="form span-5 filters ">
    		    			<%=h(f.group.to_s + ": " + f.display.to_s) %>
    					</td>
    					<td class="filters">
    					<input class="selections" type="radio" name="<%="#{Filter}[#{f.name}]" %>" value="<%=f.id %>" <%=f.type == 'apply' ? 'checked' : '' %> >Apply filter&nbsp;&nbsp;&nbsp;&nbsp;
    					<input class="selections invert_filter" type="radio" name="<%="#{Filter}[#{f.name}]" %>" value="!<%=f.id %>" <%=f.type == 'invert' ? 'checked' : '' %>>Invert filter&nbsp;&nbsp;&nbsp;&nbsp;
    					<span class="screen_only">
                           <input class="selections disable_filter" type="radio" name="<%="#{Filter}[#{f.name}]" %>" value="-<%=f.id %>" <%=f.type == 'disable' ? 'checked' : '' %>>Disable Filter&nbsp;&nbsp;&nbsp;&nbsp;
    					   <input class="selections remove_filter" type="radio" id="<%="#{Filter}#{f.name}remove" %>" name="<%="#{Filter}[#{f.name}]" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
				  	    </span>
    					</td>
					
    				  </tr>
    			  <% end %>
				<% if model['site_constrain'].to_s != ''%>
                    <tr>
                        <td class="form span-5 filters">
                            <%="Instead, search by sites assigned to this selection at:"  %>
                        </td>
                        <td class="filters">
                            <input class="selections site_constrain_default" type="radio" name="site_constrain" value="">Any time during the period&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="constrain_start" class="selections site_constrain" type="radio" name="site_constrain" value="start" <%=model['site_constrain'].to_s=='start' ? 'checked' : '' %>><%=Date.parse(model['startDate']).strftime(DateFormatDisplay) %>&nbsp;&nbsp;&nbsp;&nbsp;
                            <input id="constrain_end" class="selections site_constrain" type="radio" name="site_constrain" value="end" <%=model['site_constrain'].to_s=='end' ? 'checked' : '' %>><%=Date.parse(model['endDate']).strftime(DateFormatDisplay) %>&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
				<% end %>
    			<% if model['column'].to_s != ''%>
                    <tr>
                        <td class="form span-5 filters">
                            <%=h("Members:  #{model.col_names[model['column']]}") %>
                        </td>
                        <td class="filters">
                            <input class="selections" type="radio" name="<%="column" %>" value="<%=model['column'] %>" checked>Filter for&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="selections" type="radio" name="<%="column" %>" value="">Remove Filter&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                <% else %>
    			    <tr class="screen_only">
                        <td class="form span-5 filters">
							<!-- TODO refactor the default group branchid -->
                            Constrain search to this <%= model.group_names[model['group_by'] || 'branchid'].downcase %> list
                        </td>
                        <td class="filters">
                            <input class="selections" type="radio" name="<%="lock[#{model['group_by']}]" %>" value="" checked>Off&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="selections constrain_filter" type="radio" name="<%="lock[#{model['group_by']}]" %>" value="<%=model.row_header_id_list %>">On&nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                    </tr>
                  <% end %>
    			</table>
			
    		<% else %>
    			<label class="form span-18  screen_only">Start exploring by clicking interesting links in the charts and tables below.</label>
    		<% end %>
          </li>

    	  <div class="screen_only span-24" >
            <input  type="submit" value="Refresh">
          </div>
    	</ul>
		<div id="site_constrain_default" class="tooltip">
  			By default, the system searches for sites assigned to the selection any time during the period.  Selecting this removes the option, returning the system to its default behaviour.  
		</div>
		<div id="site_constrain" class="tooltip">
  			This search option finds the sites assigned to the selection at the selected date, then looks at only those sites for the entire period, irrespective who they are allocated to.  It is useful for getting averages and counts for a fixed set of sites without worrying about transfers upsetting things.
  		</div>
  		<div id="removefiltertip" class="tooltip">
  			When removed, this filter will be ignored by the system and removed from the screen.  When removing or disabling a filter, please carefully consider the 'Group By' setting.  If 'Work Site' is set thousands of rows could be returned and your browser could hang.
  		</div>
  		<div id="disablefiltertip" class="tooltip">
  			When disabled, this filter will be ignored by the system but kept visible so it can be easily re-enabled.  When removing or disabling a filter, please carefully consider the 'Group By' setting.  If 'Work Site' is set thousands of rows could be returned and your browser could hang.
  		</div>
  		<div id="invertfiltertip" class="tooltip">
  			Returns everything but this item, by excluding any data that matches this item.  Most useful when used with 'Constrain search...'.
  		</div>
  		<div id="constrainfiltertip" class="tooltip">
  			Limits the results of the next search to those listed below.  Useful when disabling, removing or inverting a filter without changing the set of rows reported.  e.g.  you might want to see all churn for an organiser's sites without being limited to just the period the organiser was assigned to those sites.
  		</div>
		</form>
  </div>
</section>

<script type="text/javascript">
	$(".datepicker input").datepicker({dateFormat: <%=DateFormatPicker%>});
	
	$(".site_constrain").tooltip({
		tip: '#site_constrain',
		position: 'center right',
		offset: [25, 50],
		delay: 0,
		relative: true
	});
	
	$(".site_constrain_default").tooltip({
		tip: '#site_constrain_default',
		position: 'center right',
		offset: [25, 50],
		delay: 0,
		relative: true
	});
	
	$(".remove_filter").tooltip({
		tip: '#removefiltertip',
		position: 'center right',
		offset: [25, 50],
		delay: 0,
		relative: true
	});
	
	$(".disable_filter").tooltip({
		tip: '#disablefiltertip',
		position: 'center right',
		offset: [25, 50],
		delay: 0,
		relative: true
	});
	
	$(".invert_filter").tooltip({
		tip: '#invertfiltertip',
		position: 'center right',
		offset: [25, 50],
		delay: 0,
		relative: true
	});
		
	$(".constrain_filter").tooltip({
		tip: '#constrainfiltertip',
		position: 'center right',
		offset: [0, 50],
		delay: 0,
		relative: true
	});
</script>
