<div id="chart">
  <h2 class="print_only">Graph</h2>

  <% if line_chart_ok? %>
		LINE GRAPH GOES HERE
	<% else %>
	  	<table id="waterfall">
			<caption>Paying gain vs loss</caption>
			<thead>
				<tr>
					<th>Item</th>
					<th>Change</th>
                    <th>URL</th>
				</tr>

			</thead>
			<tbody>
				<% waterfall_total = 0 %>
                    <% @data.each do |row| %>
                       <tr>
                            <td><%= "#{row['row_header1']}" %> gain</td>
                            <td><%= row['paying_real_gain'] %></td>
                            <td><%= drill_down_link_header(row) %></td>
                        </tr>
                        <tr>
                            <td><%= "#{row['row_header1']}" %> loss</td>
                            <td><%= row['paying_real_loss'] %></td>
                            <td><%= drill_down_link_header(row) %></td>
                        </tr>
                        <% waterfall_total += (row['paying_real_gain'].to_i + row['paying_real_loss'].to_i)%>
                    <% end %>
				<tr>
					<td>Net</td>
					<td><%= waterfall_total %></td>
			  </tr>
			  <tr>
			  </tr>
			</tbody>			
		</table>
	<% end %>
</div>
