<div id="chart">	
	<% if line_chart_ok? %>
		LINE GRAPH GOES HERE
	<% else %>
	  	<table id="waterfall">
			<capt%on>Paying gain vs loss</caption>
			<thead>
				<tr>
					<th>Item</th>
					<th>Change</th>
				</tr>

			</thead>
			<tbody>
				<% waterfall_total = 0 %>
				<% @data.each do |row| %>
		            <tr>
						<td><a href="<%= drill_down_link_header(row) %>" style="text-decoration:none"><%= "#{row['row_header1']}" %></a> gain</td>
						<td><%= row['paying_real_gain'] %></td>
					</tr>
					<tr>
						<td><a href="<%= drill_down_link_header(row) %>" style="text-decoration:none"><%= "#{row['row_header1']}" %></a> loss</td>
						<td><%= row['paying_real_loss'] %></td>
					</tr>
					<% waterfall_total += (row['paying_real_gain'].to_i + row['paying_real_loss'].to_i)%>
				<% end %>
				<tr>
						<td>Net</td>
						<td><%= waterfall_total %></td>
				</tr>
				<tr>
				</tr>
			</tbody>

			
		</table>
	<% end %>
</div>
