<% if @data.has_data? %>
    <a class="printer screen_only" href="javascript:print_tab('graph');"><img src="images/printer32.png" title="print <%=table.downcase %> table" alt="print <%=table.downcase %> table"/></a>
    <% if data_sql.query['column'].empty? %>
        <a class="download screen_only" href="/export_summary?<%= (query_string || '') + "&table=" + table %>" ><img src="images/download32.png" title="export <%=table.downcase %> table to excel" alt="export <%=table.downcase %> table to excel"/></a>
    <% else %>
        <a class="download screen_only" href="/export_member_details?<%= (query_string || '') + "&table=" + table %>"><img src="images/download32.png" title="export <%=table.downcase %> table to excel" alt="export <%=table.downcase %> table to excel"/></a></li>
    <% end %>
    <!--<ul>-->
    	<!--<% if data_sql.query['column'].empty? %>-->
	    	<!--<li class="nav screen_only"><a href="/export_summary?<%= (query_string || '') + "&table=" + table %>" class="button">Export Summary</a></li>-->
	    <!--<% else %>-->
	    	<!--<li class="nav screen_only"><a href="/export_member_details?<%= (query_string || '') + "&table=" + table %>" class="button">Export Member Details</a></li>-->
		<!--<% end %>-->
	<!--</ul>-->
  <% totals = {} %>
  <h2 class="print_only"><%=table %></h2>
  <table class="tablesorter" id='table<%=table %>'>
    <thead>
      <tr>
        <% merge_cols(@data[0], cols).each do |column_name, v| %>
        	<th id="<%=column_name %>h<%=i%>">
      			<% if bold_col?(column_name) %> 
      				<strong>
      			<% end %>
			
      			<%= col_names[column_name] || column_name %>
			
      			<% if bold_col?(column_name) %> 
      				</strong>
      			<% end %>
    		  </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @data.each do |row| %>
        <tr>
          <% merge_cols(row, cols).each do |column_name, v| %>
			<%
			  totals[column_name] ||= 0
			  totals[column_name] = safe_add totals[column_name], v
			%>
			<td>
				<% if bold_col?(column_name) %> 
					<strong>
				<% end %>

			  		<% if column_name == 'row_header1' %>
					    <a href="<%= drill_down_link_header(row) %>"><%= v %></a>
					<% elsif column_name == 'period_header' %>
						<a href="<%= drill_down_link_interval(row) %>"><%= v %></a>
					<% elsif can_detail_cell? column_name, v %>
					    <a href="<%= detail_cell(row, column_name) %>"><%= v %></a>
					<% elsif can_export_cell? column_name, v %>
					    <a href="<%= export_cell(row, column_name) %>"><%= v %></a>
					<% else %>
					    <%= v %>
					<% end %>
				<% if bold_col?(column_name) %> 
					<strong>
				<% end %>
			</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <% if params['column'].to_s == '' %>
    	<tfoot>
        <tr>
          <% totals.each do |column_name, total| %>
            <td>
              <% if bold_col?(column_name) %>
                <strong>
              <% end %>
  	      	  <% if !no_total.include?(column_name) %>
              	<% if can_export_cell? column_name, total %>
                  <a href="<%= export_column(column_name) %>"><%= total %></a>
                <% else %>
                  <%= total %>
                <% end %>
	          <% end %>
            <% if bold_col?(column_name) %>
                <strong>
            <% end %>
  	        </td>
          <% end %>
        </tr>
      </tfoot>
  	<% end %>
  </table>
<% else %>
  <p>No data</p>
<% end %>