 <p>
	To get more accurate weekly averages you must refine your search.  There is an explanation below the table   
</p>
<p>
	To see results without transfers select;
	<ul>
		<li>
			<a href="<%= model.build_uri({'site_constrain' => 'start', 'group_by' => 'companyid' }) %>">sites as assigned at the <strong>start</strong> of the period</a> 
		</li>
		<li>
			<a href="<%= model.build_uri({'site_constrain' => 'end', 'group_by' => 'companyid' }) %>">sites as assigned at the <strong>end</strong> of the period</a>
		</li>
		<li>
			Or select a mostly transfer free period either [before] or [after] a significant transfer in the table below  

			<table id="transferDates" class="tablesorter">
                <thead>
                    <th>Transfer Date</th>
                    <th></th>
					<th>Transfers In</th>
                    <th>Transfers Out</th>
					<th></th>
				</thead>
                <% model.transfers.each do |row| %>
                    <tr>
                        <td>
                      			<a href="<%= model.build_uri({"endDate" => Date.parse(row['changedate']).strftime(DateFormatDisplay), "startDate" => Date.parse(row['changedate']).strftime(DateFormatDisplay), "group_by" => "companyid"})  %>" title="date of transfer">
	                            <%= Date.parse(row['changedate']).strftime(DateFormatDisplay) %>
	                        </a>
					    </td>
						<td>
							<a href="<%= model.build_uri({"endDate" => Date.parse(row['changedate']).strftime(DateFormatDisplay) } ) %>" title="<%= "#{Date.parse(model.params['startDate']).strftime(DateFormatDisplay)} to #{(Date.parse(row['changedate'])-1).strftime(DateFormatDisplay)}" %>">
                        		[before]
							</a>
						</td>
						<td>
	                        <%= row['transfer_in'] %>
                        </td>
                        <td>
                        	<%= row['transfer_out'] %>
                        </td>
                    	<td>
	 						<a href="<%= model.build_uri({"startDate" => Date.parse(row['changedate']).strftime(DateFormatDisplay) }) %>" title="<%= "#{(Date.parse(row['changedate'])+1).strftime(DateFormatDisplay)} to #{Date.parse(model.params['endDate']).strftime(DateFormatDisplay)}" %>">
								[after]
							</a>
						</td>
					</tr>
                <% end  %>
            </table>
		</li>
	</ul>
<p>
	Transfers can potentially affect these results because one or more sites weren't held for the entire period.  For instance, if the sites were only held for half the period, averages will be halved as they are calculated over the whole period.  Start or end counts may show zero for a site when it had members because the current selection didn't contain that site at the time.  Shown in the table are transfers of both paying and a1p members that moved from outside the current selection to inside the current selection or vice versa. e.g. a growth site (outside this selection) was handed back to the development organiser (inside this selection).  If a significant volume of these occur (think patch reassignment) during the selected period, the composition of the selection may be drastically altered having an unpredictable affect on totals, averages and growth calculations.  </p>
<p>
	<%= model.getmath_transfers? %>
</p>
Not counted are internal transfers which are movements within this selection that don't affect the selection's averages.   
