<% if !@flash.nil? %>
  <div class="flash">
    <%= @flash %>
  </div>
<% end %>

<div class="container">
  <h1><a href="/"><%= "growth tracker" %></a></h1>
</div>

<div class="menu container">
  <ul>
    <li><a href="/admin/config">config</a></li>
    <li><a href="/admin/backup">backup</a></li>
    <li><a href="/admin/restart?redirect=/">restart</a></li>
    <li><a class="selected" href="/admin/import">import</a></li>
  </ul>
</div>

<section id="data" class="ui-widget-content">

<% if @model.importing? %>
  <%= @model.import_status %>

  <script>
    $(document).ready(function() {
      setTimeout("location.reload()", 10000);
    });
  </script>
<% else %>
  <%= @model.staging_status %>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="myfile">
    <br>
    <input type="submit" value="Upload">
  </form>

  <form method="post">
    <input type="submit" name="action" value="reset">
  </form>

  <!-- This is exceptionally dangerous (rewrites database without confirmation)
  <form method="post">
    <input type="submit" name="action" value="rebuild">
  </form>
  -->

  <form method="post">
    <input type="submit" name="action" value="diags">
  </form>

  <form method="post">
    <input type="submit" name="action" value="empty_cache">
  </form>

  <% if @model.import_ready? %>
    <form method="post">
      <input type="text" name="import_date" value="<%=Time.now%>">
      <input type="submit" name="action" value="import">
    </form>
  <% end %>

  <br/>

  <%= @model.import_history %>
<% end %>
</section>
